<suite name="Test Suite">
    <test name="Test Class">
        <classes>
            <class name="Web.BaseTest"/>
            <class name="Web.UserDataFormTest"/>
            <class name="Web.AdminDataFormTest"/>
            <class name="Web.AdminTableTest"/>
        </classes>
    </test>
</suite>
